/* Global Styles */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: #444;
  background-color: #f4f4f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Header */
.header {
  background: #2c3e50;
  color: #fff;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar a {
  color: #fff;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #f39c12;
}

/* Hero Section */
.hero {
  margin-top: 70px;
}

.hero-carousel .hero-slide {
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  text-align: center;
}

.hero-carousel .hero-content {
  z-index: 2;
  animation: fadeInUp 1s ease-in-out;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
}

.hero-subtitle {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}
.about-card {
  text-align: center;
  /* padding: 5rem; */
  background: #2c3e50;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.about-card:hover {
  transform: translateY(-10px);
}

.about-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.slick-dots li button:before {
  color: #fff;
}

/* Sections */
.section-title {
  font-size: 2.5rem;
  color: #2c3e50;
  text-align: center;
  margin-bottom: 1.5rem;
}

.section-description {
  text-align: center;
  margin-bottom: 2rem;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

.slide-in {
  transform: translateY(30px);
  opacity: 0;
  animation: slideIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Footer */
.footer {
  background: #2c3e50;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
